<div class="container">
  <table class="table table-striped table-bordered custom-table" *ngIf="customers">
    <thead class="custom-header">
    <tr>
      <th class="custom-text custom-header-cell-background">ID</th>
      <th class="custom-text custom-header-cell-background">Name</th>
      <th class="custom-text custom-header-cell-background">Email</th>
      <th class="custom-text custom-header-cell-background">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers._embedded.customers">
      <td class="custom-text">{{c.id}}</td>
      <td class="custom-text">{{c.name}}</td>
      <td class="custom-text">{{c.email}}</td>
      <td>
        <button class="custom-button" (click)="getOreders(c)">Orders</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
