<div class="container">
  <table class="table table-striped table-bordered custom-table" *ngIf="products">
    <thead class="custom-header">
    <tr>
      <th class="custom-text custom-header-cell-background">ID</th>
      <th class="custom-text custom-header-cell-background">Name</th>
      <th class="custom-text custom-header-cell-background">Price</th>
      <th class="custom-text custom-header-cell-background">Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products._embedded.products">
      <td class="custom-text">{{p.id}}</td>
      <td class="custom-text">{{p.name}}</td>
      <td class="custom-text">{{p.price | number: '.2'}} DH</td>
      <td class="custom-text">{{p.quantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
